*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(50, 50, 50);

}
.container{
    width: 80%;
    margin: auto;
    min-height: 100vh;
    background-color: white;
}
input{
    padding: 25px;
    border: 1px solid white;
    box-sizing: border-box;
    width: 80%;
    outline: none;
    font: 100 1.2rem "Lucida Sans"
}

button{
    padding: 20px;
    font: 100 1.2rem "Lucida Sans";
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    width: 19%;
    transition: background-color 0.3s;
}
button:hover{
    background-color: rgb(32, 37, 175);
}
.tags{
    display: flex;
    flex-wrap: wrap;
    
}
.tag{
    background-color: darkred;
    width: 30%;
    color: white;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

